/* media query breakpoints */
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;
$large-desktop: 1440px;

/* colors for brown theme */
$platinum: #eaeaeaff;
$chamoisee: #a87f4dff;
$chamoisee-2: #9e7444ff;
$raw-umber: #8e6336ff;
$sepia: #7b5025ff;
$sepia-2: #673c14ff;
$seal-brown: #512500ff;

/* colors for red theme */
$platinum: #e9eaeaff;
$redwood: #a56264ff;
$rose-taupe: #9b585aff;
$cordovan: #8b494bff;
$garnet: #783739ff;
$caput-mortuum: #642527ff;
$chocolate-cosmos: #4e1011ff;